@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;800&display=swap');

:root{
    --text-color:rgb(255, 255, 255);
    --background-color:#6617cb;
    --white-color:#fff;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #6617cb;
    background-image: linear-gradient(105deg, #6617cb 0%, #cb218e 74%);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100vw;
    color: var(--text-color);

}

html{
    font-size: 16px;
}

main{
    min-height: 40rem;
    width: 40rem;
    background-color: var(--white-color);
    border-radius: 1rem;
    box-shadow:  27px 27px 0px #722ea0,
             -27px -27px 0px #e85cff;
    padding: 2.5rem;
}

header{
    height: 15rem;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.2;
}

header h1{
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    line-height: 2.5rem;
    color: rgb(78, 0, 97);
    border-color:rgb(255, 110, 255);
    border-width: 1rem;    
}

header p{
    text-align: right;
    font-size: 1rem;
    color: rgb(0, 0, 0); 
}



 

.hands{
    height: 10rem;
    display: flex;
    justify-content: space-around;
    margin-bottom: 0.2;
    color: rgb(255, 1, 255);
}

.hands button{
    width: 7rem;
    height: 7rem;
    border-radius: 40%;
    font-size: 3rem;
    color:#fff;
    background-color: var(--background-color);
    border: 0;
    cursor: pointer;
    transition: all;
}

.hands button:hover{
    transform: translateY(11px);
    color: #000000;
}

.hands button:hover:active{
    transform: scale(1.1);
}

.result{
    text-align: center;
    font-size: 1.2rem;
    color: #4a025c;
    margin-top: 1.5rem;
}

.result p{
    margin-bottom: 0.5rem;
    margin-top: 1rem;
    color: #000000;
    height: 2rem;
}

.result button{
    padding: 0.2rem 0.2rem;
    color: #ffffff;
    background-color: #6617cb;
    width: 50%;
    font-size: 1.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: all;
    
}

.result button:hover{
    transform: translateY(3px);
    color: #000000;
}

.result button:hover:active{
    transform: scale(1.1);
}



.result-message{
    color: #ffffff;
    background-color: #6617cb;
    width: 50%;
    margin: 0.5rem auto;
    font-size: 1.8rem;
    font-weight: bold;
}

.hidden{
    display: none;

}